.main-content {
  padding: 10px;
  display: flex;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.listofItems {
  margin-top: 20px;
  background: linear-gradient(
    270deg,
    var(--primary-color),
    var(--secondary-color)
  );
  padding: 15px;
  height: 750px;
  width: 350px;
  overflow-y: scroll;
  color: white;
  border-radius: 16px;
}

.listofItems::-webkit-scrollbar {
  width: 2px;
}

.listofItems::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.listofItems::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  flex: 1;
}

.itemCard {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 200px;
  min-width: 200px;
  cursor: grab;
  color: black;
}

.itemCard h3 {
  margin: 0 0 0.5rem 0;
}

.itemCard p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.itemCard.dragging {
  opacity: 0.5;
}

.listofRooms {
  flex: 1;
  margin-top: 20px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 16px;
  height: 750px;
  overflow-y: scroll;
  width: calc(100% - 400px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.search-container {
  margin-bottom: 15px;
}

#itemSearch {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.roomCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.rommCard h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomCard button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  padding: 6px 12px;
  flex-shrink: 0;
}

.roomCard button:hover {
  background-color: var(--secondary-color);
}

.roomCard .okas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roomCard.drag-over {
  border-color: #4caf50;
  background: #f6fff6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}
